{{>admin-header}}
<div class="m-5 pt-5">
    <h2>Edit Product</h2>
    <form action="/admin/editProduct?id={{editProduct._id}}" method="post" enctype="multipart/form-data">
    {{!-- <input type="hidden" name="product_id" value="{{editProduct._id}}"> --}}
    <div class="form-group my-3">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control form-control-sm" id="nameInput" name="name" value="{{editProduct.name}}" placeholder="Enter Name" required>
    </div>
    <div class="form-group my-3">
        <label for="nameInput">Price</label>
        <input type="number" class="form-control form-control-sm" min="1" id="nameInput" name="price" value="{{editProduct.price}}" placeholder="Enter Price" required>
    </div>
    <div class="form-group my-3 d-flex">
        <label for="dropdownMenuButton" class="pt-2 me-2">Category:</label>
        <div>
            <select class="form-select form-select-sm" name="category" aria-label="Default select example" required>
                {{#each categoryList}}
                    <option value="{{this.category}}">{{this.category}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group my-3">
        <label for="descriptionInput">Description</label>
        <textarea class="form-control form-control-sm" id="descriptionInput" name="description" rows="3" required>{{editProduct.description}}</textarea>
    </div>
    <div class="form-group my-3">
        <label for="productImage">Add image: </label>
        <div class="d-flex my-2">
        {{#each editProduct.image}}
            <img src="/images/products/{{this}}" alt="image" id="imagePreview" style="width: 100px;height: 100px" class="preview-image me-2 border border-dark">
        {{/each}}
        </div>
        <input type="file" class="form-control-file" name="image" id="productImage" onchange="viewImage(event)" multiple>
    </div>

    <div>
    <button type="submit" class="btn btn-primary my-3">Update</button>
    </form>
</div>
{{>user-footer}}


<script>
    function viewImage(event) {
        const previewImages = document.getElementsByClassName('preview-image');

        for (let i = 0; i < event.target.files.length; i++) {
            const file = event.target.files[i];
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImages[i].src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    }
</script>
