{{>admin-header}}
<div class="m-3 mt-4 pt-5 px-4">

  <div class="mt-2">
    <table class="table mt-2" id="ordersTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product Id</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Size</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each orderDetails}}
            <tr>
                <th scope="col">{{inc @ index}}</th>
                <td scope="col"><img src="/images/products/{{this.image}}" style="width: 50px;height: 50px;" alt="no-image"></td>
                <td scope="col">{{this.id}}</td>
                <td scope="col">{{this.name}}</td>
                <td scope="col">{{this.quantity}}</td>
                <td scope="col">{{this.size}}</td>
                <td scope="col"><a class="text-success text-decoration-none orderStatus" id="orderStatus" style="cursor: pointer;" data-bs-orderid="{{this.id}}" data-bs-toggle="modal" data-bs-target="#statusChange">{{this.status}}</a></td>
            </tr>
        {{/each}}
    </tbody>
    </table>
  </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="statusChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Status</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="/admin/statuschange" method="post">
            <input type="hidden" name="orderid"  value="{{orderid}}">
            <input type="hidden" name="productid" id="orderDetails">
            <select class="form-select" name="status" id="status">
                <option value="Pending">Pending</option>
                <option value="Delivered">Delivered</option>
                <option value="Cancelled">Cancelled</option>
            </select>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Status</button>
            </div>
            </form>
        </div>
        </div>
    </div>



<script>
    // Get all the order buttons
    var orderStatus = document.querySelectorAll('.orderStatus');

    // Add a click event listener to each button
    orderStatus.forEach(function(status) {
    status.addEventListener('click', function() {
        // Get the order ID from the status's data attribute
        var orderID = status.getAttribute('data-bs-orderid');
        console.log(orderID);
        // Access the order ID in the modal
        var orderDetailsElement = document.getElementById('orderDetails');
        orderDetailsElement.value = orderID;
    });
    });

</script>