{{>admin-header}}


<div class="m-3 mt-4 pt-5 px-4">
  <div class="mb-3">
    <a href="/admin/return_details" class="btn btn-secondary">Order Return</a>
  </div>

  <div class="mt-2">
    <table class="table mt-2" id="ordersTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        {{#each allOrders}}
            <tr>
                <td scope="col">{{inc @ index}}</td>
                <td scope="col">{{this.user}}</td>
                <td scope="col">{{this.mobile}}</td>
                <td scope="col">{{this.email}}</td>
                <td scope="col">{{this.address}}</td>
                <td scope="col">{{this.total}}</td>
                <td scope="col">{{this.payment_method}}</td>
                <td scope="col"><a href="/admin/orderInfo/{{this.id}}">More...</a></td>
            </tr>
        {{/each}}
    </tbody>
    </table>
  </div>
</div>



{{>user-footer}}


<script>

  $(function () {
    $('#ordersTable').DataTable({
      order: [[1, 'asc']], // Sort by the second column by default
    rowCallback: function(row, data, index) {
      var api = this.api();
      var rowNum = api.page.info().start + index + 1;
      $(row).find('td:eq(0)').text(rowNum); // Assign the row number to the first column
    }
    });
  });


</script>