{{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark p-0">
    <div class="container-fluid bg-dark p-3">
      <a class="navbar-brand mx-2 text-white" href="/admin">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a href="/admin/userlist"  class="text-white text-decoration-none"><b>Users</b></a>
          </li>
        </ul>
        <a href="/admin/logout"><button type="button" class="btn btn-primary mx-2">Logout</button></a>
      </div>
    </div>
</nav> --}}
{{>admin-header}}

<div class="m-3 mt-5 pt-5 px-4">
    <table class="table" id="productsTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <td scope="col">{{inc @ index}}</td>
                <td scope="col">{{this.name}}</td>
                <td scope="col">{{this.mobile}}</td>
                <td scope="col">{{this.email}}</td>
                <td>
                  {{#if this.is_blocked}}
                    <a class="btn btn-warning" style="width: 6rem;"  onclick="unblockUser('{{this._id}}')">Unblock</a>
                    {{!-- <a href="/admin/unblockuser?id={{this._id}}" class="btn btn-warning" style="width: 6rem;" onclick="return confirm('Do you want to unblock {{this.name}}')">Unblock</a> --}}
                  {{else}}
                    <a class="btn btn-warning" style="width: 6rem;"  onclick="blockUser('{{this._id}}')">Block</a>
                  {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>

{{>user-footer}}

<script>

  $(function () {
    $('#productsTable').DataTable({
       order: [[1, 'asc']], // Sort by the second column by default
    rowCallback: function(row, data, index) {
      var api = this.api();
      var rowNum = api.page.info().start + index + 1;
      $(row).find('td:eq(0)').text(rowNum); // Assign the row number to the first column
    }
    });
  });

</script>

<script>
  function unblockUser(userId) {
      Swal.fire({
          title: 'Are you sure to Unblock this User?',
          text: "You can block in case of any issues in future!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Unblock!'
      }).then((result) => {
          if (result.isConfirmed) {
              Swal.fire(
                  'Unblocked!',
                  'User has been unblocked.',
                  'success'
              ).then(() => {
                  window.location.href = '/admin/unblockuser?id=' + userId;
              });
          }
      });
  }
</script>

<script>
  function blockUser(userId) {
      Swal.fire({
          title: 'Are you sure to block this User?',
          text: "You can unblock in future!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Block!'
      }).then((result) => {
          if (result.isConfirmed) {
              Swal.fire(
                  'Blocked!',
                  'User has been blocked.',
                  'success'
              ).then(() => {
                  window.location.href = '/admin/blockuser?id=' + userId;
              });
          }
      });
  }
</script>
