
{{>user-header}}

	<!-- start banner Area -->
	<div class="carousel-inner" style="height: 100vh;">
      <img src="/images/banners/{{banner}}" class="d-block w-100" alt="Wild Landscape"/>
  </div>
	<!-- End banner Area -->

<!-- start new products -->
 <section class="mt-5 container">
	<h3 class="text-center my-3 text-decoration-underline">New Arrivals</h3>
  <div class="text-center">

    <div class="row">

    {{#each newProducts}}
      <div class="col-lg-3 col-md-6">
        <a href="/productload?id={{this._id}}" class="text-decoration-none">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-bs-ripple-color="light">
            <img src="/images/products/{{this.image.[2]}}"
              class="w-100" />
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
          </div>
          <div class="card-body">
            <div href="" class="text-reset">
              <h5 class="card-title mb-2">{{this.name}}</h5>
            </div>
            <div href="" class="text-reset ">
              <p>{{this.category}}</p>
            </div>
            <h6 class="mb-3 price">₹{{this.price}}</h6>
          </div>
        </div>
        </a>
      </div>
    {{/each}}
    </div>

  </div>
  <h4 class="mt-3"><a href="/products" class="text-center nav-link view">View all products ></a></h4>
</section>
<!-- end new products -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner" style="background-color: #FFF;">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->


{{>user-footer}}

