{{>user-header}}

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>PRODUCTS</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="card mt-4 my-4">
        <div class="row">
          <div class="col-md-6">
            <div class="images pt-5">

              <div class="text-center">
                <img
                  id="main_product_image"
                  src="/images/products/{{initialImage}}"
                  width="250"
                  class="product-image"
                  data-zoom-src="/images/products/{{this}}"
                />
              </div>

              <div class="thumbnail text-center my-2">
                {{!-- {{#each productDetails}} --}}
                {{#each productDetails.image}}
                <img
                  onclick="change_image(this)"
                  src="images/products/{{this}}"
                  width="70"
                />
                {{/each}}
                {{!-- {{/each}} --}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-5">
              <div class="d-flex justify-content-between align-items-center">
              </div>
              <div class="mt-4 mb-3">
                <span id="productCategory" class="text-uppercase text-muted brand mb-0">{{productDetails.category}}</span>
                
                <h3 class="text-uppercase">{{productDetails.name}}</h3>
                <div class="price d-flex flex-row align-items-center mb-3">
                    <h4 id="realPrice" class="me-4 act-price text-black"><i><span style="font-family: none;">₹</span><span id="realAmount">{{productDetails.price}}</span></i></h4>
                    <h3 class="text-success"><i id="offerPrice"></i></h3>
                </div>
                <p class="about">{{formatDescription productDetails.description}}</p>
                
              </div>
              <div class="sizes mt-5">
                <h6 class="text-uppercase">Size</h6>
                <form action="/addtocart" method="post">
                  <label class="radio">
                    <input type="radio" name="size" value="S" checked/>
                    <span>S</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="M" />
                    <span>M</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="L" />
                    <span>L</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="XL" />
                    <span>XL</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="size" value="XXL" />
                    <span>XXL</span>
                  </label>
                  <input type="hidden" value="{{productDetails._id}}" name="prodId">
                  <input type="hidden" name="price" id="price">
                  <div class="cart d-flex mt-4 align-items-center">
                    <input type="submit" id="addcart" class="btn btn-danger text-uppercase mr-2 px-4" value="Add to Cart">
                    {{!-- <a href="/addtocart?proId={{productDetails._id}}"><button class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button></a> --}}
                    <div class="wishlist-icon">
                      {{#if isWishlist}}
                      <a href="/removewishlist?id={{productDetails._id}}"><i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i></a>
                      {{else}}
                      <a href="/addwishlist?id={{productDetails._id}}"><i class="fa-regular fa-heart fa-2xl" style="color: #ff0000;"></i></a>
                      {{/if}}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>user-footer}}

<script>
  let allCategories = JSON.parse(decodeURIComponent('{{{category}}}'));
  let category = document.getElementById('productCategory')
  let price = document.getElementById('price')
  let offerPrice = document.getElementById('offerPrice')
  let realPrice = document.getElementById('realPrice') //real price with rupee sign
  let realAmount = document.getElementById('realAmount').innerText //original Price
  let capitalizedCategory = category.innerText.charAt(0).toUpperCase() + category.innerText.slice(1).toLowerCase();
  let productCategory = allCategories.find(cat=>cat.category==capitalizedCategory)
  if(productCategory.offer > 0){
    realPrice.style.textDecoration = "line-through"
    realPrice.style.textDecorationThickness = "2px"
    let newPrice = Number(realAmount)-Number(productCategory.offer)
    offerPrice.innerHTML="₹"+newPrice
    console.log(price)
    price.value=newPrice
  }else{
    price.value=realAmount
  }
</script>

<script>
        $(document).ready(function () {
            $('.product-image').each(function () {
                $(this).elevateZoom({
                    zoomWindowPosition: 5,
                    zoomWindowWidth: 300,
                    zoomWindowHeight: 300,
                    gallery: 'product-image-container',
                    cursor: 'crosshair',
                    galleryActiveClass: 'active',
                    responsive: true,
                    zoomWindowFadeIn: 500,
                    zoomWindowFadeOut: 500,
                    lensFadeIn: 500,
                    lensFadeOut: 500,
                    zoomWindowContainerClass: 'zoom-display'
                });
            });
        });

  function change_image(image){ var container =
  document.getElementById("main_product_image"); container.src = image.src; }
  document.addEventListener("DOMContentLoaded", function(event) { });

//SWEET ALERT
    document.getElementById('addcart').addEventListener('click',()=>{
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Product added to the cart',
            showConfirmButton: false,
            timer: 3000 // Time in milliseconds (3 seconds)
        });
        
        // Close the alert box after 3 seconds
        setTimeout(function(){
            Swal.close();
        }, 3000);
    })   


</script>

